Source: easyroam-config
Section: misc
Maintainer: Kevin Zink <kevin.zink@mpi-hd.mpg.de>
Vcs-Git: https://github.com/mpikzink/easyroam-config.git
Vcs-browser: https://github.com/mpikzink/easyroam-config.git
Homepage: https://github.com/mpikzink/easyroam-config
Priority: optional
Build-Depends: debhelper-compat (= 13), pandoc, bash-completion
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: easyroam-config
Architecture: all
Depends: ${misc:Depends}, network-manager, openssl
Suggests: libnotify-bin, xdg-utils
Description: Configure eduroam via easyroam in the terminal
 This tool helps you to configure eduroam on your device via the terminal.
 There is no need for sudo privilegues to run easyroam-config.
