[Unit]
Description=Check your easyroam certificate and inform before  30 days before expiration.

[Service]
Type=oneshot
ExecStart=/usr/bin/easyroam-config --warn=30
